<h2>Polaris Page Backgrounds</h2>

<div class="demo-colour-block">
    <div class="polaris-page-background black cushioned">Default Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="sky-atlantic-page-background white cushioned">Sky Atlantic Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="sky-living-page-background white cushioned">Sky Living Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="sky-sports-page-background white cushioned">Sky Sports Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="sky-movies-page-background white cushioned">Sky Movies Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="sky-arts-page-background white cushioned">Sky Arts Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="sky-news-page-background white cushioned">Sky News Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="sky-1-page-background white cushioned">Sky 1 Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="sky-box-sets-page-background white cushioned">Sky Box Sets Page Background</div>
</div>

<div id="demo-functional"></div>
