<h2>Polaris Page Backgrounds</h2>

<div class="demo-colour-block">
    <div class="polaris-page-background cushioned">Default Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="white sky-atlantic-page-background cushioned">Sky Atlantic Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="white sky-living-page-background cushioned">Sky Living Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="white sky-sports-page-background cushioned">Sky Sports Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="white sky-movies-page-background cushioned">Sky Movies Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="white sky-arts-page-background cushioned">Sky Arts Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="white sky-news-page-background cushioned">Sky News Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="white sky-1-page-background cushioned">Sky 1 Page Background</div>
</div>

<div class="demo-colour-block">
    <div class="white sky-box-sets-page-background cushioned">Sky Box Sets Page Background</div>
</div>

<div id="demo-functional"></div>
