<h2>Polaris Gradient Backgrounds</h2>

<p>These are designed to be the background to entire pages or containers. Click to preview</p>

<div class="demo-colour-block">
    <div class="polaris-bg-default black cushioned">Default</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-default-dark black cushioned">Default Dark</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-atlantic white cushioned">Sky Atlantic</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-living white cushioned">Sky Living</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-sports white cushioned">Sky Sports</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-movies white cushioned">Sky Movies</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-arts white cushioned">Sky Arts</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-news white cushioned">Sky News</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-1 white cushioned">Sky 1</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-box-sets white cushioned">Sky Box Sets</div>
</div>

<div class="demo-colour-block">
    <div class="polaris-bg-sky-account white cushioned">Sky Account</div>
</div>

<div style="clear: both"></div>

<h2>Polaris Section Background</h2>

<section class="demo-polaris-section polaris-bg-section">
    <h2>Use this for full page width content panels.</h2>
    <p>Normally used on a page with large full bleed images.</p>
</section>

<div id="demo-functional"></div>
