$polaris-bg-default: #FFFFFF, #E1E0E4, #FFFFFF;
$polaris-bg-sky-atlantic: #5090B8, #194F73;
$polaris-bg-sky-living: #96A8B5, #768D9D;
$polaris-bg-sky-sports: #132774, #041456;
$polaris-bg-sky-movies: #8F2679, #67135A;
$polaris-bg-sky-arts: #EC0015, #48055B;
$polaris-bg-sky-news: #153073, #061B55;
$polaris-bg-sky-1: #0D77BD, #005392;
$polaris-bg-sky-box-sets: #7F0C2D, #5B1139;
$polaris-bg-sky-account: #197BC9, #135FA0;
$polaris-bg-sky-store: #0E429E, #003366;
$polaris-bg-default-dark: #FFFFFF, #B3B3B3;
