$polaris-bg-default: #FFFFFF, #E1E0E4, #FFFFFF;
$polaris-bg-sky-atlantic: #005aaf, #003c7d;
$polaris-bg-sky-living: #69a0b4, #69879b;
$polaris-bg-sky-sports: #132774, #041456;
$polaris-bg-sky-movies: #8F2679, #67135A;
$polaris-bg-sky-arts: #fa5569, #fa0050;
$polaris-bg-sky-news: #153073, #061B55;
$polaris-bg-sky-1: #1ea0f5, #0082dc;
$polaris-bg-sky-box-sets: #7F0C2D, #5B1139;
$polaris-bg-sky-account: #197BC9, #135FA0;
$polaris-bg-sky-store: #0E429E, #003366;
$polaris-bg-default-dark: #FFFFFF, #B3B3B3;
