@mixin page-background-gradient($info) {
    background-color: nth($info, length($info));
    background-image: -webkit-radial-gradient(nth($info, 1), nth($info, 2));
    background-image: radial-gradient(nth($info, 1), nth($info, 2));
}
