@import "bourbon/bourbon";
@import '../../node_modules/core/src/styles/core';

$polaris-page-background: #FFFFFF, #E1E0E4, #FFFFFF;
$sky-atlantic-page-background: #5090B8, #194F73;
$sky-living-page-background: #96A8B5, #768D9D;
$sky-sports-page-background: #132774, #041456;
$sky-movies-page-background: #8F2679, #67135A;
$sky-arts-page-background: #EC0015, #48055B;
$sky-news-page-background: #153073, #061B55;
$sky-1-page-background: #0D77BD, #005392;
$sky-box-sets-page-background: #7F0C2D, #5B1139;

@mixin page-background-gradient($info) {
  @include radial-gradient(nth($info, 1), nth($info, 2), $fallback: nth($info, length($info)));
}


.polaris-page-background {
    @include page-background-gradient($polaris-page-background);
}

.sky-atlantic-page-background {
    @include page-background-gradient($sky-atlantic-page-background);
}

.sky-living-page-background {
    @include page-background-gradient($sky-living-page-background);
}

.sky-sports-page-background {
    @include page-background-gradient($sky-sports-page-background);
}

.sky-movies-page-background {
    @include page-background-gradient($sky-movies-page-background);
}

.sky-arts-page-background {
    @include page-background-gradient($sky-arts-page-background);
}

.sky-news-page-background {
    @include page-background-gradient($sky-news-page-background);
}

.sky-1-page-background {
    @include page-background-gradient($sky-1-page-background);
}

.sky-box-sets-page-background {
    @include page-background-gradient($sky-box-sets-page-background);
}
