@import 'base';

@import '../../node_modules/core/demo/styles/modules/_colours';
@import '../../node_modules/core/src/styles/core';

html, body {
    height: 100%;
}

.demo-polaris-section {
    width: 100%;
    height: 400px;
    background-color: red;
    clear: both;
    padding: 50px;
    position:absolute;
left:0;
right:0;
}
