.polaris-bg-default {
  background-color: #FFFFFF;
  background-image: -webkit-radial-gradient(#FFFFFF, #E1E0E4);
  background-image: radial-gradient(#FFFFFF, #E1E0E4); }

.polaris-bg-sky-atlantic {
  background-color: #194F73;
  background-image: -webkit-radial-gradient(#5090B8, #194F73);
  background-image: radial-gradient(#5090B8, #194F73); }

.polaris-bg-sky-living {
  background-color: #768D9D;
  background-image: -webkit-radial-gradient(#96A8B5, #768D9D);
  background-image: radial-gradient(#96A8B5, #768D9D); }

.polaris-bg-sky-sports {
  background-color: #041456;
  background-image: -webkit-radial-gradient(#132774, #041456);
  background-image: radial-gradient(#132774, #041456); }

.polaris-bg-sky-movies {
  background-color: #67135A;
  background-image: -webkit-radial-gradient(#8F2679, #67135A);
  background-image: radial-gradient(#8F2679, #67135A); }

.polaris-bg-sky-arts {
  background-color: #48055B;
  background-image: -webkit-radial-gradient(#EC0015, #48055B);
  background-image: radial-gradient(#EC0015, #48055B); }

.polaris-bg-sky-news {
  background-color: #061B55;
  background-image: -webkit-radial-gradient(#153073, #061B55);
  background-image: radial-gradient(#153073, #061B55); }

.polaris-bg-sky-1 {
  background-color: #005392;
  background-image: -webkit-radial-gradient(#0D77BD, #005392);
  background-image: radial-gradient(#0D77BD, #005392); }

.polaris-bg-sky-box-sets {
  background-color: #5B1139;
  background-image: -webkit-radial-gradient(#7F0C2D, #5B1139);
  background-image: radial-gradient(#7F0C2D, #5B1139); }
